{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block body %}

<div id="form-login"  class="form-container w-25 d-flex justify-content-center align-items-center" style="height:100vh;">
    
    <div class="form w-100 d-flex flex-column justify-content-center align-items-center" style="color:#fff;">
  
  {{form_start(form, {'attr': {'class': 'w-100'}})}}

            <div class="form-group w-100">
                {{ form_errors(form.username) }}
                <div class="group w-100"> 
                    
                    {{ form_widget(form.username) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="login-input-email" class="required active"><i class="fas fa-user mr-2"></i> Nom d'utilisateur</label>
                </div>
            </div>

            <div class="form-group w-100">
                {{ form_errors(form.old_password) }}
                <div class="group w-100"> 
                    
                    {{ form_widget(form.old_password) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="login-input-email" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Ancien mot de passe</label>
                </div>
            </div>

            <div class="form-group w-100">
                {{ form_errors(form.password) }}
                <div class="group w-100"> 
                    
                    {{ form_widget(form.password) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="login-input-email" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Nouveau mot de passe</label>
                </div>
            </div>

            <div class="form-group w-100">
                {{ form_errors(form.confirm_password) }}
                <div class="group w-100"> 
                    
                    {{ form_widget(form.confirm_password) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="login-input-email" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Confirmer le mot de passe</label>
                </div>
            </div>



        <button type="submit" class="btn w-100 m-0" style="color: #fff; background-color:#6BBA62"><i class="fas fa-user-edit mr-2"></i>Modifier</button>
        <a data-toggle="modal" data-target="#delete-account" class="btn btn-danger w-100 m-0 mt-2" href="{{ path('security_delete_user') }}"><i class="fas fa-trash-alt mr-2"></i>Supprimer</a>

    {{form_end(form)}}

    </div>
</div>

<div id="form-image" class="w-75 d-flex flex-column justify-content-center align-items-center">
    <img src="images/logo/logo_transparent.png" title="form logo smartport" alt="form logo smartport" width="40%">
</div>

<div style="z-index: 7000;" class="modal fade" id="delete-account" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="images/logo/logo_transparent.png" title="modal delete account logo smartport" alt="modal delete account logo smartport" width="256px" class="mb-4">
        
        <div class="modal-title alert alert-warning w-100" style="text-align:center;"><i class="fas fa-exclamation-triangle mr-2"></i>Vous êtes sur le point de supprimer votre compte SmartPort &copy;</div>

      </div>

      <div class="modal-footer d-flex flex-wrap justify-content-between align-items-center">
        <div id="modal-delete-account" class="modal-title alert alert-danger w-100" style="text-align:center;margin:0 0 1rem 0;">êtes vous sur de vouloir continuer ?</div>
        <button type="button" class="btn btn-warning" data-dismiss="modal" style="color:#fff;"><i class="fas fa-times-circle mr-2"></i>Fermer</button>
        
        <form action="{{ url('security_delete_user') }}" method="post">
          <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i>Supprimer</button>
          <input type="hidden" name="token" value="{{ csrf_token('delete-account') }}"/>
        </form>

      </div>
    </div>
  </div>
</div>

<style>
    body
    {
        background-image: linear-gradient(to bottom, #6bba62, #52ae6b, #3ea272, #2f9576, #2a8776, #248078, #247979, #287177, #266e7b, #296b7e, #306780, #386380);
    }
</style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}

