{% extends 'base.html.twig' %}

{% block body %}

<div class="form-container w-100 d-flex justify-content-center align-items-center" style="height:100vh;">

    <div class="form w-25 d-flex flex-column justify-content-center align-items-center" style="color:#fff;">
        <img src="images/logo/logo_smartport.png" class="mb-4">

        {{form_start(form, {'attr': {'class': 'w-100'}})}}
        {{form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Entrez un nom d\'utilisateur'}})}}
        {{form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Entrez un email'}})}}
        {{form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Entrez un mot de passe'}})}}
        {{form_row(form.confirm_password, {'label': 'Confirmez le mot de passe', 'attr': {'placeholder': 'Confirmez le mot de passe'}})}}
        <button type="submit" class="btn btn-success rounded w-100 m-0"><i class="fas fa-user-edit mr-2"></i>
            S'inscrire</button>

        <a tabindex="4" href="{{ path('security_login') }}" class="btn btn-warning w-100 m-0 mt-3"
            style="color: #fff"><i class="fas fa-sign-in-alt mr-2"></i> Déjà inscrit ?</a>
        {{form_end(form)}}
    </div>

</div>

<style>
    label[for="registration_username"]::before {
        font-family: "Font Awesome 5 Free";
        content: "\f007";
        margin-right: 0.5rem;
    }

    label[for="registration_email"]::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0e0";
        margin-right: 0.5rem;
    }
</style>

<script>
    divPassword = document.getElementsByClassName('form-group')[2];
    divConfirmPassword = document.getElementsByClassName('form-group')[3];
    var labelPassword = document.getElementsByClassName('required')[2];
    var labelConfirmPassword = document.getElementsByClassName('required')[3];
    var iPassword = document.createElement('i');
    var iConfirm = document.createElement('i');
    iPassword.setAttribute('class', 'fas fa-unlock-alt mr-2');
    iConfirm.setAttribute('class', 'fas fa-unlock-alt mr-2');

    divConfirmPassword.insertBefore(iConfirm, labelConfirmPassword);

    divPassword.insertBefore(iPassword, labelPassword);
</script>
{% endblock %}