{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block body %}
<script src="https://www.google.com/recaptcha/api.js?render=6Le2fdwUAAAAAOJu9Z9AZnLTmeRdJ6MNr3LV1CXa"></script>

<div id="form-login" class="form-container w-25 d-flex justify-content-center align-items-center" style="height:100vh;">

  <div class="form w-100 d-flex flex-column justify-content-center align-items-center" style="color:#fff;">

    {{form_start(form, {'attr': {'class': 'w-100'}})}}
    <h3 id="form-title">Inscription</h3>
    <div class="form-group w-100">
      {{ form_errors(form.username) }}
      <div class="group w-100">

        {{ form_widget(form.username) }}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="login-input-email" class="required active"><i class="fas fa-user mr-2"></i> Nom
          d'utilisateur</label>
      </div>
    </div>

    <div class="form-group w-100">
      {{ form_errors(form.email) }}
      <div class="group w-100">

        {{form_widget(form.email)}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="login-input-email" class="required active"><i class="fas fa-envelope mr-2"></i> Email</label>
      </div>
    </div>

    <div class="form-group w-100">
      {{ form_errors(form.password) }}
      <div class="group w-100">

        {{form_widget(form.password)}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="login-input-email" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Mot de
          passe</label>
      </div>
    </div>

    <div class="form-group w-100">
      {{ form_errors(form.confirm_password) }}
      <div class="group w-100">

        {{form_widget(form.confirm_password)}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="login-input-email" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Confirmer le mot
          de passe</label>
      </div>
    </div>

    <input id="g-recaptcha-response" type="hidden" name="g-recaptcha-response">

    <button id="sumbit-btn" type="submit" style="color: #fff;background-color:#6BBA62" class="btn w-100 m-0"><i
        class="fas fa-user-edit mr-2"></i>S'inscrire</button>

    <a tabindex="4" href="{{ path('security_login') }}" class="btn btn-warning w-100 m-0 mt-3" style="color: #fff"><i
        class="fas fa-sign-in-alt mr-2"></i> Déjà inscrit ?</a>

    {{form_end(form)}}
    <small class="mt-4" style="color:#727272;">
      Vos données personnelles (email et nom d'utilisateur) ne sont utilisées qu'à des fin d'authentification et ne sont
      pas partagées avec des tiers.
    </small>
    <small class="mt-2" style="color:#727272;">Ce formulaire utilise <a style="text-decoration:underline;color:#727272;"
        href="https://www.google.com/recaptcha/intro/android.html">reCAPTCHA</a> afin de lutter contre le SPAM.
      L'utilisation de cette fonctionnalité est soumise aux <a style="text-decoration:underline;color:#727272;"
        href="https://www.google.com/intl/fr/policies/privacy/">Règles de confidentialité</a> et aux <a
        style="text-decoration:underline;color:#727272" href="https://www.google.com/intl/fr/policies/terms/">Conditions
        d'utilisation</a> de Google.</small>
  </div>

</div>

<div id="form-image" class="w-75 d-flex flex-column justify-content-center align-items-center">
  <img src="images/logo/logo_transparent.png" title="form logo smartport" alt="form logo smartport" width="40%">
</div>

<script type="text/javascript">
  grecaptcha.ready(function () {
    grecaptcha.execute('6Le2fdwUAAAAAOJu9Z9AZnLTmeRdJ6MNr3LV1CXa', {
      action: '/inscription'
    }).then(function (token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('forms') }}
{% endblock %}