{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
<link href="cdn/css/leaflet-velocity.css" rel="stylesheet">
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet'>
<link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}

<div id="slider__next" class="d-flex justify-content-center align-items-center">
    <img src="./images/next.png" alt="Next" width="32px">
</div>
<div id="slider__date"></div>
<div class="slider__container"></div>

<smartport-map id="map"></smartport-map>

<div id="modals-container">
    <div style="z-index: 7000;" class="modal fade right" id="modal-chart" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document" style="max-width:600px!important;width:600px!important">
            <div class="modal-content" style="height:100vh">
                <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-chart-container">
                    <ul class="nav nav-tabs w-100 mb-5">
                        <li class="nav-item">
                            <a id="PM10__graph" class="nav-link nav-graph active">PM10</a>
                        </li>
                        <li class="nav-item">
                            <a id="NO2__graph" class="nav-link nav-graph">NO<sub>2</sub></a>
                        </li>
                        <li class="nav-item">
                            <a id="O3__graph" class="nav-link nav-graph">O<sub>3</sub></a>
                        </li>
                    </ul>
                     <h5 id="graph__title" class="w-100" style="text-align:center;"></h5>
                     <div id="modal-canvas"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modals-boats-container"></div>

<div class="popup-wind hidden init">
    <div class="wind-value-container">
        <div class="arrow-wind"></div>
        <div class="value-wind"></div>
    </div>
    <div class="center-popup-wind"></div>
</div>


<div id="map__loader" class="d-flex flex-column align-items-center justify-content-start">
    <img src="images/logo/logo_transparent.png" title="form logo smartport" alt="form logo smartport" width="35%">
    <div class="lds-roller mt-4">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <h5 style="text-align:center; color: #7d7d7d" class="mt-3">Chargement en cours...</h5>

</div>

<div id="layer__loader" class="not-loaded d-flex flex-column align-items-center justify-content-center">
    <div class="lds-roller mt-4">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <h5 style="text-align:center; color: #7d7d7d" class="mt-3">Chargement en cours...</h5>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script> 
     
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
<script type="text/javascript" src="cdn/js/leaflet-velocity.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
{{ encore_entry_script_tags('map') }}
{{ encore_entry_script_tags('chart') }}
{{ encore_entry_script_tags('mapAPI') }}
{% endblock %}